jupyterlab==2.1
jupyter-lsp==0.9.2
# linters
python-language-server[all]
# widgets
widgetsnbextension==3.5.1
# imaging
itkwidgets==0.31.3
# molecular structures
nglview==2.7.7
pandas==1.1.4
jupyterlab-git==0.20.0
ipycytoscape
plotnine==0.7.1
